<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--Local-->
    <!--<add name="DbDroidConnectionString" connectionString="Data Source=POWERPC\MSSQLSERVER2K8R2;Initial Catalog=DbDroid;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--Production-->
    <add name="DbDroidConnectionString" connectionString="Server=7e72a630-24ac-4346-90f7-a45f0150e3ce.sqlserver.sequelizer.com;Database=db7e72a63024ac434690f7a45f0150e3ce;User ID=zgvebhuzlolizevb;Password=z3hWpfY7Dcx5wi74YPsLNGZcHov5iHrAvqGxYCjYy2N832HsKEDoYnx2bfoaS4X5;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SENDGRID_USERNAME" value="e8800c65-8d1e-470b-a0d7-b18060c343a4@apphb.com"/>
    <add key="SENDGRID_PASSWORD" value="24lqw0jc"/>
    <add key="SENDGRID_HOST" value="smtp.sendgrid.net"/>
    <add key="SENDGRID_PORT" value="587"/>
  </appSettings>
  <system.web>
    <!--Added By Mata C-->
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough"></httpErrors>
  </system.webServer>
</configuration>